body {
    margin: 0;
    overflow: hidden;
}
  
#background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;
}

#main-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
  
.game-title {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
  
.start-button {
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
  
.start-button:hover {
    background-color: #2980b9;
}

.info {
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.info:first-of-type {
    margin-top: 40px;
}
